<div id="home">
    <app-top-bar></app-top-bar>

    <div id="ourCarousel" class="carousel slide" data-ride="carousel">

        <!-- Indicators -->

        <ol class="carousel-indicators">
            <li data-target="#ourCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#ourCarousel" data-slide-to="1"></li>
            <li data-target="#ourCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Slides -->

        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="left_half_slide bg-theme">
                    <h1>Worldwide leadership conference</h1>
                    <p>Loremipsum dolor sit amet, consectetur aadipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="right_half_slide">
                    <img src="../../../assets/images/hero.jpg" alt="">
                </div>
            </div>

            <div class="carousel-item">
                <div class="left_half_slide bg-theme">
                    <h1>About the event</h1>
                    <p>Loremipsum dolor sit amet, consectetur aadipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="right_half_slide">
                    <img class="img-fluid" src="../../../assets/images/underground.jpg" alt="">
                </div>
            </div>

            <div class="carousel-item">
                <div class="left_half_slide bg-theme">
                    <h1>Who’s speaking?</h1>
                    <p>Loremipsum dolor sit amet, consectetur aadipiscing elit, sed do eiusmod tempor.</p>
                </div>
                <div class="right_half_slide">
                    <img class="img-fluid" src="../../../assets/images/speaker.jpg" alt="">
                </div>
            </div>
        </div>

        <!-- Arrows -->

        <a class="carousel-control-prev" href="#ourCarousel" role="button" data-slide="prev">
            <img src="../../../assets/svg/left-arrow.svg" alt="" />
        </a>
        <a class="carousel-control-next" href="#ourCarousel" role="button" data-slide="next">
            <img src="../../../assets/svg/right-arrow.svg" alt="" />
        </a>
    </div>

    <app-down-arrow></app-down-arrow>

</div>
