.speaker-content {
  display: flex;
  flex-direction: row-reverse;
  padding-top: 3em;
}

.speaker-content > .image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 0;
}

.speaker-content > .text-section {
  margin: auto;
  padding: 4% 3%;
  color: var(--black-text-color);
}

.speaker-content > .text-section > p {
  padding: 2% 0;
}

.speaker-content > .text-section > h2 {
  color: var(--main-theme-color);
}


@media screen and (max-width: 991px) {
  .speaker-content > .image-section > img {
    width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 992px) {
  .speaker-content > .image-section > img {
    width: 67vw;
    margin-left: 0;
  }
}
