/* You can add global styles to this file, and also import other style files */
:root {
  --white: #FFFFFF;
  --black: #222222;

  --main-theme-color: #01C1D6;
  --main-shadow-color: rgba(0, 0, 0, 0.15);

  --white-text-color: var(--white);
  --black-text-color: var(--black);
}
